# Preprocessing first selected Datasets
Different kinds of Energy information was contemplated to perform the comparison with the financial data in this work. Finally, after comparing different sources and indicator concepts the selected **datasets** were the ones indicated in the file *Indicators_sources.txt*. The arguments for this desicion, instead of the first thought more "technological" indicators, lay on the availability and homogeinity of the data first and for most.

## 1. Obtaining a *.csv* from the raw source (for every source where needed)
This was done manually for the *.xlsx* files. The selected Spreadsheets were selected and saved as *.csv*. Original files are stored in the **raw_data** directory and resulting on the **source_data** directory. (csv UTF-8 format was selected).

## 2. Generic preprocessing pipeline for all source files
Each step is applied depending on the structure and format of the original table.

### 2.1 Import pandas

In [111]:
import pandas as pd

### 2.2 Set particular values

In [115]:
source_name = '\web_ener_balance.csv'
# Select Column as Index
index = ['Country']
# Assign selected indexes
sel_index = ['United States', 'India', 'Germany',"People's Republic of China"]
# Select years
years=['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']
# Select other Columns as ID's
other_ids = ['Product', 'Flow']

### 2.3 Apply all the changes to obtain the desired resumed long dataframe

In [119]:
df = pd.read_csv('Energy_Data\source_data' + source_name)
df_p = df[index+years+other_ids]
df_p=pd.melt(df_p, id_vars=index+other_ids)
df_p=df_p.set_index(index)
df_p = df_p.loc[sel_index]
df_p=df_p.rename(columns={'variable':'year'})

In [120]:
df_p.head()

,Product,Flow,year,value
Country,,,,
United States,"Coal, peat and oil shale",Production (ktoe),2000,536855
United States,"Coal, peat and oil shale",Imports (ktoe),2000,10014
United States,"Coal, peat and oil shale",Exports (ktoe),2000,-38315
United States,"Coal, peat and oil shale",Total energy supply (ktoe),2000,533942
United States,"Coal, peat and oil shale","Electricity, CHP and heat plants (ktoe)",2000,-501585